
    .header-table {
      background-color: #2a446e !important;
      color: antiquewhite  !important;
    }

    .root {
      width: 100%;
      max-height: 300px ;
      overflow: auto ;
    }

    .tipo-list{
      font-family: Jukebox !important;
      font-size: 30px !important;
      padding: 0 !important;
      height: 32px !important;
    }

    .tipo-header{
      font-family: Jukebox !important;
      font-size: 35px !important;
      padding: 0 !important;
      height: 40px;
    }

    .padding1{
      padding: 2px !important;
    }
  
    .tableWrapper {
        height: 400px;;
        max-height: 600px;
        overflow: auto;
      }
    
      .selected {
        background-color: darkorange;
      }
      .selected:hover {
        background-color: rgb(224, 207, 187) !important;
      }